<section class="space-y-2">
  <h2 class="section">Experience</h2>

  <div>
    <p class="font-bold">Polariks (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Fullstack Developer &nbsp;</span>
      <span class="italic">Feb. 2023 &mdash; Present&nbsp;</span>
    </p>
    Polariks is a data collection platform that provides insights into your
    greenhouse growing process. As part of the development team, I have been
    tasked with improving the Scrum process and the development on the frontend.
    These were my primary achievements during this project;
    <ul>
      <li>
        Supporting the scrum process; as always with a startup there is a lot of
        room for improvement of the development proces. I worked closely with
        team members to identify areas of improvement and to implement changes
        that would increase productivity. Through my efforts, the team became
        more efficient and effective, which allowed us to deliver high-quality
        software products on time and within budget.
      </li>
      <li>
        Developing Frontend and BFF; improve the frontend using Typescript and
        React. The BFF was a NestJS GraphQL backend that wrapped REST services.
        Because of the large quantity of data that needed to be aggregated, we
        needed to improve a lot in the BFF to be able to handle the load. The
        improvements were implementing a caching layer and optimizing the
        Graphql relational load.
      </li>
      <li>Coaching junior developers</li>
    </ul>

    <p class="paragraph italic">
      Skills: React, Java, Typescript, Apollo, Mui, GraphQL, NestJS, Influx,
      Vite, Spring, Docker, Kubernetes, Terraform, Scrum, Devops, IaC, pnpm
    </p>
  </div>

  <div>
    <p class="font-bold">KVK (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Jun. 2021 &mdash; Jan 2023</span>
    </p>
    <p class="paragraph mt-4">
      As the Senior developer in one of the online teams at KVK, I was
      responsible for the frontend of seven priority services that are used by
      every business entity in The Netherlands.
    </p>

    <ul>
      <li>
        Consultant &amp; Advice; to improve the quality of the software I have
        advised the introduction of multiple improvements

        <ul>
          <li>
            Domain Driven Architecture; the applications are set up a Domain
            Driven Architecture which have the advantage that a platform remains
            scalable and is understandable for new developers.
          </li>

          <li>
            From monolith to microservices; started the project and inspirited
            the architect to push the frontend from a single monolith into
            separated frontend applications.
          </li>

          <li>
            Finite state machine; some applications are a multiples of multi
            steps forms that had a difficult state problem. With the
            introduction of Finite State Machine with xState and we are removing
            complexity and making it easier to verify the implementation with
            the business.
          </li>
        </ul>
      </li>

      <li>
        Lead Frontend; as the Lead Frontend in my team I had to guide 4 other
        frontend developers. Set a technical vision on existing and lay down the
        frontend architecture on a new application.
      </li>

      <li>
        Recruitment support; I was also included in the recruitment process for
        frontend developers.
      </li>
    </ul>
    <p class="paragraph italic">
      Skills: Typescript, React, HTML(5), CSS(3), Javascript, Jest, Domain
      Driven Design, Redux, xState, Scrum, yarn, Sonarqube, Jira, Gitlab
    </p>
  </div>

  <div>
    <p class="font-bold">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Feb. 2021 &mdash; Present&nbsp;</span>
    </p>
    <ul>
      <li>
        Chapter Lead Frontend; Help improve the technical skills of the frontend
        developers and bring the team together by organising chapter days and
        presentations.
      </li>
      <li>
        Recruitment support, responsible for the assessment of technical
        applicants. Next to this, I educates other developers so that technical
        interviews are aligned and generally at the same high level
      </li>

      <li>
        Innovation Consultant; I am active for innovation projects for clients,
        with my vision and technical experience, I helps to add value quickly. -
        Personal Development; I have demonstrated professional growth, enabling
        him to effectively assist companies in providing superior software
        development services and a addition for your team.
      </li>
      <li>
        Social media & Vision; helping the social media department with the
        online presence
      </li>
    </ul>
  </div>

  <div>
    <p class="font-bold">Deloitte (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">March. 2021 &mdash; Jun 2021&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      I assisted Deloitte in the digitisation of escape rooms. Through
      gamification, Deloitte wanted to make people more aware of important
      topics within an organisation, such as privacy data, AVG legislation, and
      password protocols. Due to current developments, the escape rooms had to
      be made digital. I helped Deloitte with the process of digitising the
      escape rooms. In this process, I created various games, including memory
      and mastermind games. I helped to conceive, design, and implement the
      games. All applications were created in NextJS, Typescript, React, and a
      design using TailwindCSS.
    </p>
    <p class="paragraph italic">
      Skills: React/Typescript, NextJS, TailwindCSS, npm
    </p>
  </div>

  <div>
    <p class="font-bold">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Medior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Jan. 2020&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      I have always wanted to work abroad. My former employer MoneyMonk offered
      him this opportunity and I took it with both hands. The assignment I was
      given was to lay a new foundation for the frontend of the core
      application. React is the basis of the architecture, I have brought this
      to the latest React version and have also made improvements in terms of
      architecture.
    </p>

    <li>
      Rebuild frontend architecture; the frontend have been set up from scratch,
      using the latest techniques such as Redux, Tailwind, React Query,
      Typescript and Kubernetes
    </li>

    <li>
      VPS migrations; migrating VPS to a Kubernetes infrastructure with Helm
    </li>

    <li>
      Internal application migration; migration of current backend applications
      to Kotlin. NextJS was used for the frontend.
    </li>

    <li>
      Software Development Process; I helpt to shape the development process to
      move from startup to scale up. Implementing CI/CD and microservices
      architecture.
    </li>
  </div>

  <div>
    <p class="font-bold">Yokogawa (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Jan '20</span>
    </p>
    <p class="paragraph mt-4">
      Yokogawa is a market leader in the field of the process industry. They
      provide services, products, innovation, and software for the process
      industry. Within Yokogawa, various devices and computers are used to
      control various processes and production machines. These devices are
      equipped with screens that are used by employees to control them. I was
      responsible for setting up and leading the frontend part of this project.
    </p>

    <ul>
      <li>
        Rebuild; setting up the frontend again for a large part of the
        applications. I completely replaced the old application (Django stack)
      </li>

      <li>
        Communication with stakeholders; communication with the product owner
        and business analysts to collect and translate requirements
      </li>

      <li>
        Browser compatibility; various devices and computers use an outdated
        system. I had to use Vanilla JS for this
      </li>

      <li>
        Design; for a large part of the application, I helped develop and
        fine-tune the designs for all screens.
      </li>
    </ul>

    <p class="paragraph italic">
      Skills: Typescript, React, HTML(5), CSS(3), Javascript, Typescript,
      jQuery, Styled Components, SASS, Jira, Git, Agile
    </p>
  </div>

  <div>
    <p class="font-bold mt-2">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack developer &nbsp;</span>
      <span class="italic">Jul. 2019 - Jan '20</span>
    </p>
    <p class="paragraph mt-4">
      As a medior software developer at HeadFWD, I have gained experience
      working on projects for various clients. I have developed a deep
      understanding of the software development process, from requirement
      gathering and analysis, to design and implementation, to testing and
      deployment. I have honed my skill in full-stack development, with a focus
      on building scalable and maintainable applications using modern
      technologies and best practices. In my current role, I have successfully
      delivered several high-quality projects, and is eager to continue growing
      and learning as a developer.
    </p>
    <p class="paragraph italic">
      Skills: JavaScript, ReactJS, Angular, NodeJS, VueJS, Restful, Unit
      Testing, MongoDB, MySQL, Agile, SCRUM
    </p>
  </div>

  <div>
    <p class="font-bold mt-2">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack developer</span>
      <span class="italic">Sep. 2016 &mdash; Jul. 2019&nbsp;</span>
    </p>
    <div class="paragraph mt-4">
      <p>
        At MoneyMonk, I was asked to technically raise the core application to a
        higher level. I have been jointly responsible at MoneyMonk for the
        development of the front end and back end of the core product and
        internal products. The core application is a web application. When I
        joined MoneyMonk, they were busy transitioning from the front end to the
        back end. The backend application is made in PHP and part of the
        frontend application in React. I have helped with:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Management of the internal operation of the system, I have improved
          the system, is future-proof and easy to examine keep it made.
        </li>
        <li>
          Standardization, I have provided standardization of tooling,
          techniques and coding guidelines at MoneyMonk.
        </li>
        <li>
          Migration from the frontend to React, I helped with converting
          different modules.
        </li>
        <li>
          Introduction Redux, I helped with the introduction and implementation
          of Redux as a status management tool.
        </li>
      </ul>
    </div>
    <div class="paragraph">
      <p>
        Another project that I worked on at MoneyMonk is Touchpoint. This is an
        internal application for ticket handling. I have worked on:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Management about setting up the internal ticket application. I have
          had to build a system from the beginning together with the team.
        </li>
        <li>
          Set up application, I have set up both the backend and frontend
          together with team.
        </li>
        <li>
          Inventory the requirements, I have drawn up the requirements in
          consultation with the stakeholders.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <p>
        I have also worked on a React Native project. My work within this
        project focused on React Native:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          The mobile application was initially made native but was later partly
          created in React Native.
        </li>
        <li>
          Converting different existing native modules into React Native, I have
          different modules that were native written converted to React Native.
        </li>
        <li>
          Implementation of state management tool Redux, I have implemented
          Redux in the mobile application and this have delivered an enormous
          efficiency gain.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <p>Finally I worked on the Servers within MoneyMonk.I have worked on:</p>
      <ul class="ml-4 mb-2">
        <li>
          Setting up servers with Docker, I have set up various internal
          applications with Docker including a NodeJS express server, Grafana
          and a database backup server.
        </li>
        <li>
          In addition to the core application, I have set up the servers and set
          up several smaller applications.
        </li>
      </ul>
    </div>
  </div>

  <p class="paragraph italic">
    Skills: PHP, ReactJS, GIT, NodeJS, Docker, Webpack, HTML5, CSS3, Fullstack
    Development, SASS, Vagrant, PHPUnit, Bootstrap, Lin- ux, Apache, MySQL,
    Redis, Nginx
  </p>
</section>
