<section class="space-y-2">
  <div>
    <h2 class="section">Experience</h2>
    <p class="font-bold">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Feb. 2021 &mdash; Present&nbsp;</span>
    </p>
    <ul>
      <li>
        <em>Social media & Vision; </em> helping the social media department
        with the online presence
      </li>
      <li>
        Recruitment support; responsible for the assessment of technical
        applicants. Next to this, Oscar educates other developers so that
        technical interviews are aligned and generally at the same high level
      </li>
      <li>
        <em>Coach & Educate Junior Developer; </em>guiding junior developer to a
        better understanding of developing scalable frontend applications.
      </li>

      <li>
        <em>Innovation Consultant; </em> Oscar is active for innovation projects
        for clients, with his vision and technical experience, Oscar helps to
        add value quickly. - Personal Development; Oscar has demonstrated
        professional growth, enabling him to effectively assist companies in
        providing superior software development services and a addition for your
        team.
      </li>
    </ul>
  </div>

  <div>
    <p class="font-bold">KVK (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Jun. 2021 &mdash; Jan 2023</span>
    </p>
    <p class="paragraph mt-4">
      As the Senior developer in one of the online teams at KVK, Oscar was
      responsible for the frontend of seven priority services that are used by
      every business entity in The Netherlands.
    </p>

    <ul>
      <li>
        Consultant & Advice; to improve the quality of the software Oscar has
        advised the introduction of multiple improvements

        <ul>
          <li>
            <em>Domain Driven Architecture; </em> the applications are set up a
            Domain Driven Architecture which has the advantage that a platform
            remains scalable and is understandable for new developers.
          </li>

          <li>
            <em>From monolith to microservices; </em> started the project and
            inspirited the architect to push the frontend from a single monolith
            into separated frontend applications.
          </li>

          <li>
            <em>Finite state machine; </em> some applications are a multiples of
            multi steps forms that had a difficult state problem. With the
            introduction of Finite State Machine with xState and we are removing
            complexity and making it easier to verify the implementation with
            the business.
          </li>
        </ul>
      </li>

      <li>
        <em>Coach & Educate Junior Developers; </em> guiding junior developer to
        a better understanding of developing scalable frontend applications.
      </li>
      <li>
        <em>Recruitment support; </em> Oscar was also included in the
        recruitment process for frontend developers.
      </li>
    </ul>
    <p class="paragraph italic">
      <strong>Skills</strong>: Typescript, React, HTML(5), CSS(3), Javascript,
    </p>
  </div>

  <div>
    <p class="font-bold">Deloitte (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">March. 2021 &mdash; Jun 2021&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      Oscar assisted Deloitte in the digitisation of escape rooms. Through
      gamification, Deloitte wanted to make people more aware of important
      topics within an organisation, such as privacy data, AVG legislation, and
      password protocols. Due to current developments, the escape rooms had to
      be made digital. Oscar helped Deloitte with the process of digitising the
      escape rooms. In this process, he created various games, including memory
      and mastermind games. Oscar helped to conceive, design, and implement the
      games. All applications were created in
    </p>
    <p class="paragraph italic">
      <strong>Skills</strong>: React/Typescript and NextJS, with a design using
      TailwindCSS.
    </p>
  </div>

  <div>
    <p class="font-bold">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Medior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Jan. 2020&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      Oscar has always wanted to work abroad. His former employer MoneyMonk
      offered him this opportunity and Oscar took it with both hands. The
      assignment Oscar was given was to lay a new foundation for the frontend of
      the core application. React is the basis of the architecture, Oscar has
      brought this to the latest React version and has also made improvements in
      terms of architecture.
    </p>

    <li>
      <em>Rebuild frontend architecture; </em>the frontend has been set up from
      scratch, using the latest techniques such as Redux, Tailwind, React Query,
      Typescript and Kubernetes;
    </li>

    <li>
      <em>VPS migrations;</em>migrating VPS to a Kubernetes infrastructure;
    </li>

    <li>
      <em>Internal application migration;</em>migration of current backend
      applications to Kotlin. NextJS was used for the frontend.
    </li>

    <li>
      <em>Software Development Process;</em>Oscar helpt to shape the development
      process to move from startup to scale up. Implementing CI/CD and
      microservices architecture.
    </li>
  </div>

  <div>
    <p class="font-bold">Yokogawa (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Present&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      Yokogawa is responsible for industrial automation, test and measurement
      solutions. They provide everything for measuring and monitoring of
      factories. For this project, they wanted an application that gives insight
      into all the data that is being collected. Oscar was solely responsible
      for building and implementing the frontend application that gives insight
      into the collected data from different applications. This was created in
      React. Another project was creating the interface of the application that
      collected the data of different sensors and measuring systems.
    </p>

    <ul>
      <li>
        <em>Rebuild</em>; setting up the frontend again for a large part of the
        applications. Oscar completely replaced the old application (Django
        stack)
      </li>

      <li>
        <em>Communication with stakeholders;</em> communication with the product
        owner and business analysts to collect and translate requirements
      </li>

      <li>
        <em>Browser compatibility;</em> various devices and computers use an
        outdated system. Oscar had to use Vanilla JS for this
      </li>

      <li>
        <em>Advice on design;</em> for a large part of the application, Oscar
        helped develop and fine-tune the designs for all screens
      </li>
    </ul>

    <p class="paragraph italic">
      <strong>Skills</strong>: Typescript, React, HTML(5), CSS(3), Javascript,
      Typescript, jQuery, Styled Components, SASS, Jira, Git, Agile
    </p>
  </div>

  <div>
    <p class="font-bold mt-2">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack developer &nbsp;</span>
      <span class="italic">Jul. 2019 &mdash; Present&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      HeadFWD is a knowledge supplier in the field of web development. With a
      team of 30 people, they help other companies realize their goals on the
      frontend and backend. Oscar works as Frontend Developer where he uses his
      technical knowledge to help large companies and startups with their online
      ambitions.
    </p>
    <p class="paragraph italic">
      <strong>Skills</strong>: JavaScript, ReactJS, Angular, NodeJS, VueJS,
      Restful, Unit Testing, MongoDB, MySQL, Agile, SCRUM
    </p>
  </div>

  <div>
    <p class="font-bold mt-2">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack&nbsp; (custom PHP/ React)</span>
      <span class="italic">Sep. 2016 &mdash; Jul. 2019&nbsp;</span>
    </p>
    <div class="paragraph mt-4">
      <p>
        At MoneyMonk, Oscar was asked to technically raise the core application
        to a higher level. Oscar has been jointly responsible at MoneyMonk for
        the development of the front end and back end of the core product and
        internal products. The core application is a web application. When Oscar
        joined MoneyMonk, they were busy transitioning from the front end to the
        back end. The backend application is made in PHP and part of the
        frontend application in React. Oscar has helped with:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Management of the internal operation of the system, Oscar has improved
          the system, is future-proof and easy to examine keep it made.
        </li>
        <li>
          Standardization, Oscar has provided standardization of tooling,
          techniques and coding guidelines at MoneyMonk.
        </li>
        <li>
          Migration from the frontend to React, Oscar helped with converting
          different modules.
        </li>
        <li>
          Introduction Redux, Oscar helped with the introduction and
          implementation of Redux as a status management tool.
        </li>
      </ul>
    </div>
    <div class="paragraph">
      <p>
        Another project that Oscar worked on at MoneyMonk is Touchpoint. This is
        an internal application for ticket handling. Oscar has worked on:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Management about setting up the internal ticket application. Oscar has
          had to build a system from the beginning together with the team.
        </li>
        <li>
          Set up application, Oscar has set up both the backend and frontend
          together with team.
        </li>
        <li>
          Inventory the requirements, Oscar has drawn up the requirements in
          consultation with the stakeholders.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <p>
        Oscar has also worked on a React Native project. His work within this
        project focused on React Native:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          The mobile application was initially made native but was later partly
          created in React Native.
        </li>
        <li>
          Converting different existing native modules into React Native, Oscar
          has different modules that were native written converted to React
          Native.
        </li>
        <li>
          Implementation of state management tool Redux, Oscar has implemented
          Redux in the mobile application and this has delivered an enormous
          efficiency gain.
        </li>
      </ul>
    </div>

    <div class="paragraph">
      <p>
        Finally Oscar worked on the Servers within MoneyMonk. He has worked on:
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Setting up servers with Docker, Oscar has set up various internal
          applications with Docker including a NodeJS express server, Grafana
          and a database backup server.
        </li>
        <li>
          In addition to the core application, Oscar has set up the servers and
          set up several smaller applications.
        </li>
      </ul>
    </div>
  </div>

  <p class="paragraph italic">
    <strong>Skills</strong>: PHP, ReactJS, GIT, NodeJS, Docker, Webpack, HTML5,
    CSS3, Fullstack Development, SASS, Vagrant, PHPUnit, Bootstrap, Lin- ux,
    Apache, MySQL, Redis, Nginx
  </p>
</section>
