<!doctype html>
<html lang="en">
  {{> head}}

  <body class="antialiased print:text-sm bg-gray-100">
    <div class="container mx-auto p-4 mt-4 bg-white shadow-lg rounded-lg">
      <header class="mb-8 text-center">
        <h1 class="text-3xl md:text-5xl print:text-5xl font-bold mb-2">
          Oscar te Giffel
        </h1>
        <p class="text-xl text-gray-600 mb-4">Senior Fullstack Engineer</p>
        <a
          href="https://oscartegiffel.com"
          class="text-blue-600 hover:underline"
          >https://oscartegiffel.com</a
        >
        <div>
          <p>Read my blog <a href="https://oscartegiffel.com/blog" class="text-blue-600 hover:underline">here</a></p>


        </div>
        <img
          class="rounded-full h-48 w-48 mx-auto mt-4 border-4 border-gray-300"
          src="/img/avatar.webp"
          alt="Oscar te Giffel"
        />

      </header>

      <div class="md:flex print:flex">
        <aside class="md:w-1/3 print:w-1/3 pr-8">
          <section class="mb-6">
            <h2 class="section">Profile</h2>
            <p class="mb-2">Currently working as Senior Fullstack Engineer at DPG.</p>
            <p class="mb-2">Passionate about developer growth, team culture, and connecting teams.</p>
            <p class="mb-2">Specializes in React frontend development with full-stack capabilities.</p>
            <p>Focusing on deepening Typescript knowledge, exploring Game Development, and enhancing algorithms and data structures skills.</p>
          </section>

          <section class="mb-6">
            <h2 class="section">Contact</h2>
            <ul class="space-y-2">
              <li class="flex items-center">
                <i class="fas fa-envelope text-gray-600 mr-2"></i>
                <a href="mailto:oscar@tegiffel.com" class="text-blue-600 hover:underline">oscar@tegiffel.com</a>
              </li>
              <li class="flex items-center">
                <i class="fas fa-phone text-gray-600 mr-2"></i>
                <a href="tel:0031652789990" class="text-blue-600 hover:underline">+31 6 52 78 99 90</a>
              </li>
              <li class="flex items-center">
                <i class="fab fa-linkedin text-gray-600 mr-2"></i>
                <a href="https://www.linkedin.com/in/otegiffel/" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">/in/otegiffel/</a>
              </li>
              <li class="flex items-center">
                <i class="fab fa-github-alt text-gray-600 mr-2"></i>
                <a href="https://github.com/oscarteg" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">github.com/oscarteg</a>
              </li>
              <li class="flex items-center">
                <i class="fab fa-gitlab text-gray-600 mr-2"></i>
                <a href="https://gitlab.com/oscarteg" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">gitlab.com/oscarteg</a>
              </li>
            </ul>
          </section>

          <section class="mb-6">
            <h2 class="section">Skills</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <h3 class="font-semibold mb-1">Languages</h3>
                <p class="mb-2">Dutch, English, Japanese (learning N5 planned 2023)</p>
                
                <h3 class="font-semibold mb-1">Programming Languages</h3>
                <p class="mb-2">JavaScript, TypeScript, Python, Go, Rust, Zig, Java, Kotlin, PHP, NodeJS, (S)CSS/SASS, HTML</p>
                
                <h3 class="font-semibold mb-1">Frameworks</h3>
                <p class="mb-2">React (GatsbyJS, NextJS, Remix), Laravel, Vue.js (NuxtJS), Svelte (SvelteKit), Express, Storybook, NestJS, React Native, AstroJS, Spring</p>
                
                <h3 class="font-semibold mb-1">Libraries</h3>
                <p class="mb-2">TailwindCSS, Ant Design, react-query, Formik, Webpack, xState, Zustand, Redux, Vite, Mui, react-table, react-hook-form, Jest, Vitest, Cypress, Styled Components, Radix, React Testing Library, Apollo</p>
              </div>
              <div>
                <h3 class="font-semibold mb-1">Tools &amp; Services</h3>
                <p class="mb-2">Git, Docker, Linux, Vagrant, Ansible, Webpack, CI/CD, Figma, GitlabCI, pnpm/yarn/npm</p>
                
                <h3 class="font-semibold mb-1">Databases</h3>
                <p class="mb-2">MySQL, PostgreSQL, MongoDB</p>
                
                <h3 class="font-semibold mb-1">Cloud &amp; DevOps</h3>
                <p class="mb-2">Kubernetes, DevOps, GitOps, Serverless</p>
                
                <h3 class="font-semibold mb-1">Methodologies</h3>
                <p class="mb-2">Agile, Scrum, Kanban, Domain Driven Design, Test-Driven Development (TDD), Event Sourcing, CQRS, Microservices</p>
                
                <h3 class="font-semibold mb-1">API Design</h3>
                <p class="mb-2">GraphQL, REST, HATEOAS</p>
                
                <h3 class="font-semibold mb-1">Project Management</h3>
                <p class="mb-2">Jira, UML</p>
              </div>
            </div>
          </section>

          <section>
            <h2 class="section">Education</h2>
            <div class="mb-4">
              <h3 class="font-semibold">Bachelor of Information Technology</h3>
              <p>University of Applied Sciences Leiden</p>
              <p class="italic">Graduated: March 2019</p>
              <p>Specialization: Software Engineering</p>
            </div>
            <div>
              <h3 class="font-semibold mb-1">Professional Development</h3>
              <ul class="list-disc list-inside">
                <li>Total TypeScript</li>
                <li>Principal.dev Leadership Training</li>
                <li>UNLP - Mannenkracht Personal Development</li>
                <li>Epic React by Kent C. Dodds</li>
                <li>Advanced React Patterns</li>
              </ul>
            </div>
          </section>
        </aside>

        <main class="md:w-2/3 print:w-2/3">{{> @partial-block}}</main>
      </div>
    </div>
  </body>
</html>
