<!doctype html>
<html lang="en">
  {{> head}}

  <body class="antialiased print:text-sm">
    <div class="container mx-auto p-4 mt-4">
      <section class="mb-8">
        <section class="text-center flex flex-col items-center">
          <h1 class="text-3xl md:text-5xl print:text-5xl small-caps">
            Oscar te Giffel
          </h1>
          <a href="https://oscartegiffel.com">https://oscartegiffel.com</a>
          <img class="rounded-md h-64" src="/img/avatar.webp" />
        </section>
      </section>
      <div class="md:flex print:flex">
        <div class="md:w-1/3 print:w-1/3">
          <section class="pb-4 md:pr-4 print:pr-4">
            <h2 class="section">Profile</h2>

            <p class="paragraph">Hey, I’m Oscar.</p>
            <p class="paragraph">
              I’m currently working as Senior Frontend Engineer at a medium
              consultancy agency HeadFWD. I focus on improving companies through
              process and technology.
            </p>

            <p class="paragraph">
              I’m passionate to grow as a developer and not only focus on the
              technology but also on focussing on building a culture. Connecting
              teams and aligning goals my personal goal and I’m looking for
              carrying out that goal at each company.
            </p>

            <p class="paragraph">
              I love building for the web. I focus on frontend development in
              React but have been done all types of programming for a while.
              Currently I am focusing on gaining a deeper understanding of
              Typescript, trying my best at Game Development in C++ and training
              my algorithms and datastructures knowledge.
            </p>
          </section>

          <section class="pb-4 md:pr-4 print:pr-4 space-y-2">
            <h2 class="section">Contact</h2>
            <div class="flex items-center">
              <i
                class="fas fa-envelope text-black mr-1"
                data-fa-transform="shrink-2"
              ></i>
              <a class="icon-text" href="mailto:oscar@tegiffel.com"
                >oscar@tegiffel.com</a
              >
            </div>
            <div class="flex items-center">
              <i
                class="fas fa-phone text-black mr-1"
                data-fa-transform="shrink-3"
              ></i>
              <a href="tel:0031652789990" class="icon-text"
                >+31 6 52 78 99 90</a
              >
            </div>

            <div class="flex items-center">
              <i
                class="fab fa-linkedin text-black mr-1"
                data-fa-transform="shrink-1"
              ></i>
              <a
                class="icon-text"
                href="https://www.linkedin.com/in/otegiffel/"
                rel="noopener noreferrer"
                target="_blank"
                >/in/otegiffel/</a
              >
            </div>

            <div class="flex items-center">
              <i
                class="fab fa-github-alt text-black mr-1"
                data-fa-transform="shrink-1"
              ></i>
              <a
                class="icon-text"
                href="https://github.com/oscarteg"
                rel="noopener noreferrer"
                target="_blank"
                >github.com/oscarteg</a
              >
            </div>

            <div class="flex items-center">
              <i
                class="fab fa-gitlab text-black mr-1"
                data-fa-transform="shrink-1"
              ></i>
              <a
                class="icon-text"
                href="https://gitlab.com/oscarteg"
                rel="noopener noreferrer"
                target="_blank"
                >gitlab.com/oscarteg</a
              >
            </div>

            <div class="flex items-center">
              <i
                class="fas fa-globe text-black mr-1"
                data-fa-transform="shrink-1"
              ></i>
              <a
                class="icon-text"
                href="https://oscartegiffel.com"
                rel="noopener noreferrer"
                target="_blank"
                >oscartegiffel.com</a
              >
            </div>
          </section>
          <section class="border-t-py-4 md:pr-4 print:pr-4">
            <h2 class="section">Skills</h2>
            <div class="flex mt-2">
              <div class="w-1/2 mr-1">
                <p class="font-bold">Languages:</p>
                <p class="mt-1">
                  Dutch, English, Japanese (learning N5 planned 2023)
                </p>
              </div>
              <div class="w-1/2 mr-1">
                <p class="font-bold">Programming languages:</p>
                <p class="mt-1">
                  JavaScript, TypeScript, Python (Django), Go, Rust, Zig,
                  (S)CSS/SASS, HTML, Java, NodeJS, Kotlin, Spring, PHP, NodeJS
                </p>
              </div>
            </div>
            <div class="flex mt-2">
              <div class="w-1/2 mr-1">
                <p class="font-bold">Frameworks:</p>
                <p class="mt-1">
                  React (GatsbyJS, NextJS, Remix), Laravel, Vue.js (NuxtJS),
                  Svelte (SvelteKit), Express, Storybook, NestJS,React Native,
                  AstroJS
                </p>
              </div>
              <div class="w-1/2 ml-1">
                <p class="font-bold">Tools, services and methods:</p>
                <p class="mt-1">
                  Graphql, Kubernetes, Git, Docker, Linux, Vagrant, Ansible,
                  MySQL, Postgresql, Webpack, CI/CD, Agile, Scrum, Kanban, Jira,
                  Figma, MySQL, Postgres, MongoDB, GitlabCI, Devops, Gitops,
                  Domain Driven Design, UML, TDD, DDD, Event Sourcing, CQRS,
                  Microservices, Serverless, HATEOAS, REST, pnpm/yarn/npm
                </p>
              </div>
            </div>
            <div class="flex mt-2">
              <div class="w-1/2 ml-1">
                <p class="font-bold">Libraries:</p>
                <p class="mt-1">
                  TailwindCSS, Ant Design, react-query, Formik, Webpack, xState,
                  Zustand, Redux, Vite, Formik, Ant Design, Mui, react-table,
                  react-hook-form, Jest, Vite, Vitest, Cypress, Styled
                  Components, Radix, React Testing Library, Apollo
                </p>
              </div>
            </div>
          </section>
          <section class="border-t-py-4 md:pr-4 print:pr-4">
            <h2 class="section">Education</h2>
            <p class="font-bold mt-2">
              Bachelor Informatica (Information Technology)
            </p>
            <p>University of Applied Sciences Leiden</p>
            <p class="italic">Mrt. 2019</p>
            <p>Specialization in <i>Software Engineering</i></p>

            <div class="mt-2">
              <p class="font-bold">Courses:</p>
              <ul>
                <li>
                  <p>Principal.dev (scheduled Sept 2023)</p>

                  <p>
                    Advanced training in tech leadership, developing skills in
                    technical and non-technical areas,
                  </p>
                </li>

                <li>
                  <p>UNLP - Mannenkracht</p>
                  <p>
                    MAN training fosters relationships, goals, and fulfillment
                    across life domains.
                  </p>
                </li>
                <li>Kent C. Dodds - Epic React</li>
                <li>Kent C. Dodds - Testing Javascript</li>
                <li>Kent C. Dodds - Advanced React Patterns</li>
                <li>VueJS Udemy (2017)</li>
                <li>Laravel Udemy (2017) - Git Workshop Infosupport</li>
              </ul>
            </div>
          </section>
        </div>
        <div
          class="border-gray-700 border-t pt-4 md:right-column print:right-column"
        >
          {{> @partial-block}}
        </div>
      </div>
    </div>
  </body>
</html>
