 <section class="mb-6">
  <h2 class="section">Career Objective</h2>
  <p class="mb-2">
    Experienced Senior Fullstack Engineer seeking to transition into a solution architect, lead developer, or principal developer role. Aiming to leverage extensive development expertise and leadership skills to drive technical strategy, mentor teams, and deliver innovative solutions in a dynamic technology environment.
  </p>
</section>
<section class="space-y-2">
  <h2 class="section">Experience</h2>

  <div class="mb-14">
    <p class="font-bold">DPG Media</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Aug. 2023 &mdash; Present&nbsp;</span>
    </p>
    <p>
      At DPG Media, I've been instrumental in modernizing and improving the
      frontend development process.
    </p>
    <ul>
      <li>Led migration from Vanilla JavaScript to React</li>
      <li>Architected component library</li>
      <li>Implemented CI/CD pipelines</li>
      <li>Guided NextJS migration</li>
      <li>Mentored developers</li>
    </ul>
    <p class="paragraph italic">
      Skills: React, NextJS, JavaScript, CI/CD, Component Libraries, Mentoring
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold">Polariks (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Fullstack Developer &nbsp;</span>
      <span class="italic">Feb. 2023 &mdash; Aug. 2023&nbsp;</span>
    </p>
    <p>
      Polariks is a data collection platform that provides insights into your
      greenhouse growing process. As part of the development team, I have been
      tasked with improving the Scrum process and the development on the
      frontend.
    </p>
    <ul>
      <li>
        Enhanced Scrum process, identifying areas for improvement and
        implementing changes to increase productivity.
      </li>
      <li>
        Developed frontend using Typescript and React, and improved BFF with
        NestJS GraphQL backend.
      </li>
      <li>
        Implemented caching layer and optimized GraphQL relations to handle
        large data aggregation.
      </li>
      <li>Coached junior developers to enhance team performance.</li>
    </ul>

    <p class="paragraph italic">
      Skills: React, Java, Typescript, Apollo, Mui, GraphQL, NestJS, Influx,
      Vite, Spring, Docker, Kubernetes, Terraform, Scrum, DevOps, IaC, pnpm
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold">KVK (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Jun. 2021 &mdash; Jan 2023</span>
    </p>
    <p class="paragraph mt-4">
      As the Senior developer in one of the online teams at KVK, I was
      responsible for the frontend of seven priority services used by every
      business entity in The Netherlands.
    </p>

    <ul>
      <li>
        Consultant &amp; Advice:
        <ul>
          <li>
            Introduced Domain Driven Architecture for scalability and
            understandability.
          </li>
          <li>
            Initiated transition from monolith to microservices in frontend
            applications.
          </li>
          <li>
            Implemented Finite State Machine with xState to reduce complexity in
            multi-step forms.
          </li>
        </ul>
      </li>
      <li>
        Led a team of 4 frontend developers, setting technical vision and
        architecting new applications.
      </li>
      <li>Participated in recruitment process for frontend developers.</li>
    </ul>
    <p class="paragraph italic">
      Skills: Typescript, React, HTML(5), CSS(3), Javascript, Jest, Domain
      Driven Design, Redux, xState, Scrum, yarn, Sonarqube, Jira, Gitlab
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">Feb. 2021 &mdash; Present&nbsp;</span>
    </p>
    <ul>
      <li>
        Chapter Lead Frontend: Organized chapter days and presentations to
        improve technical skills.
      </li>
      <li>
        Recruitment support: Assessed technical applicants and trained
        developers for aligned interviews.
      </li>
      <li>
        Innovation Consultant: Provided vision and technical experience for
        client innovation projects.
      </li>
      <li>
        Personal Development: Demonstrated professional growth to enhance
        software development services.
      </li>
      <li>
        Social media &amp; Vision: Assisted with online presence for the social
        media department.
      </li>
    </ul>
  </div>

  <div class="mb-14">
    <p class="font-bold">Deloitte (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">March. 2021 &mdash; Jun 2021&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      Assisted Deloitte in digitizing escape rooms to raise awareness on
      organizational topics like privacy, AVG legislation, and password
      protocols.
    </p>
    <ul>
      <li>
        Designed and implemented various games (memory, mastermind) for digital
        escape rooms.
      </li>
      <li>
        Developed applications using NextJS, Typescript, React, and TailwindCSS.
      </li>
    </ul>
    <p class="paragraph italic">
      Skills: React/Typescript, NextJS, TailwindCSS, NPM
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Medior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Jan. 2020&nbsp;</span>
    </p>
    <p class="paragraph mt-4">
      Tasked with laying a new foundation for the frontend of the core
      application.
    </p>
    <ul>
      <li>
        Rebuilt frontend architecture using latest techniques: Redux, Tailwind,
        React Query, Typescript.
      </li>
      <li>
        Migrated LAMP stack application to Docker and Kubernetes, using HELM.
      </li>
      <li>Developed Spring application to manage Kubernetes cluster.</li>
      <li>
        Migrated backend applications to Kotlin, with NextJS for frontend.
      </li>
      <li>
        Shaped development process for startup to scale-up transition,
        implementing CI/CD and microservices architecture.
      </li>
    </ul>
    <p class="paragraph italic">
      Skills: Typescript, React, Spring Boot, Kotlin, Docker, Kubernetes, Helm,
      NPM, Yarn, Gitlab, Jira, Sonarqube
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold">Yokogawa (for HeadFWD)</p>
    <p class="flex justify-between">
      <span class="italic">Senior Frontend Developer &nbsp;</span>
      <span class="italic">July. 2019 &mdash; Jan '20</span>
    </p>
    <p class="paragraph mt-4">
      Led frontend development for control screens used in process industry
      devices and computers.
    </p>
    <ul>
      <li>Rebuilt frontend, replacing old Django stack application.</li>
      <li>Liaised with stakeholders to gather and translate requirements.</li>
      <li>
        Ensured browser compatibility for outdated systems using Vanilla JS.
      </li>
      <li>
        Contributed to design development and fine-tuning for all screens.
      </li>
    </ul>
    <p class="paragraph italic">
      Skills: Typescript, React, HTML(5), CSS(3), Javascript, jQuery, Styled
      Components, SASS, Jira, Git, Agile
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold mt-2">HeadFWD</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack developer &nbsp;</span>
      <span class="italic">Jul. 2019 - Jan '20</span>
    </p>
    <p class="paragraph mt-4">
      Gained extensive experience in full-stack development, working on projects
      for various clients. Developed understanding of the entire software
      development lifecycle, focusing on building scalable and maintainable
      applications using modern technologies and best practices.
    </p>
    <p class="paragraph italic">
      Skills: JavaScript, ReactJS, NodeJS, VueJS, Restful, Unit Testing,
      MongoDB, MySQL, Agile, SCRUM
    </p>
  </div>

  <div class="mb-14">
    <p class="font-bold mt-2">MoneyMonk</p>
    <p class="flex justify-between">
      <span class="italic">Fullstack developer</span>
      <span class="italic">Sep. 2016 &mdash; Jul. 2019&nbsp;</span>
    </p>
    <div class="paragraph mt-4">
      <p>
        Responsible for elevating the core application and internal products,
        focusing on both frontend and backend development.
      </p>
      <ul class="ml-4 mb-2">
        <li>
          Improved system management for future-proofing and ease of
          maintenance.
        </li>
        <li>Standardized tooling, techniques, and coding guidelines.</li>
        <li>
          Assisted in frontend migration to React and implemented Redux for
          state management.
        </li>
        <li>
          Developed internal ticket handling application (Touchpoint) from
          scratch.
        </li>
        <li>
          Worked on React Native project, converting native modules and
          implementing Redux.
        </li>
        <li>Set up servers using Docker for various internal applications.</li>
      </ul>
    </div>
  </div>

  <p class="paragraph italic">
    Skills: PHP, ReactJS, GIT, NodeJS, Docker, Webpack, HTML5, CSS3, Fullstack
    Development, SASS, Vagrant, PHPUnit, Bootstrap, Linux, Apache, MySQL, Redis,
    Nginx
  </p>
</section>

