<section>
  <h2 class="section">Personal projects</h2>
  <div>
    <div class="flex">
      <p class="font-bold mt-2 underline text-md mb-1">Chewpy</p>
      <a
        class="icon-text"
        href="https://chewpy.com"
        rel="noopener noreferrer"
        target="_blank"
      >
        <i class="fas fa-home text-black mr-1" data-fa-transform="shrink-1"></i>
      </a>
    </div>
    <p class="flex justify-between">
      <span class="italic">Fullstack&nbsp; (Laravel/VueJS)</span>
    </p>
    <div class="mt-4">
      <p class="paragraph">
        Chewpy is an solution for people that want to eat vegetarian but don't
        know where to start. For that reason I helped the co-founder create a
        REST API and a a Oscar was responsible for developing the backend
        application and the REST API for the CMS system and the two mobile
        applications.
      </p>

      <ul class="ml-4 mb-2">
        <li>
          Developing the backend application, Oscar has developed the REST Api
          together with the team to provide information to the various
          applications.
        </li>
        <li>
          Setting up the server, Oscar has set up the server on which the core
          application runs.
        </li>
        <li>
          Designing and implementing the CMS system, Oscar designed the CMS
          systems and the CMS from the design made with Boostrap.
        </li>
      </ul>
    </div>

    <p class="paragraph italic">
      <strong>Skills</strong>: Machine Learning, VueJS, Laravel, Bootstrap,
      Clean Architecture, Clean Code, TDD.
    </p>
  </div>
</section>
